<container class="features">
  <row>
    <columns>
      <spacer size="25"></spacer>
    </columns>
  </row>
  <row>
    <columns small="12" large="4" valign="top">
      <center>
        <img src="./img/service-img_1.png" alt="">
        <spacer size="15"></spacer>
        <p class="text-center">{{ lookup content.feature_text_1 lang }}</p>
        <spacer size="25"></spacer>
      </center>
    </columns>
    <columns small="12" large="4" valign="top">
      <center>
        <img src="./img/service-img_2.png" alt="">
        <spacer size="15"></spacer>
        <p class="text-center">{{ lookup content.feature_text_2 lang }}</p>
        <spacer size="25"></spacer>
      </center>
    </columns>
    <columns small="12" large="4" valign="top">
      <center>
        <img src="./img/service-img_3.png" alt="">
        <spacer size="15"></spacer>
        <p class="text-center">{{ lookup content.feature_text_3 lang }}</p>
        <spacer size="25"></spacer>
      </center>
    </columns>
  </row>
</container>
