<container class="footer">
  <row>
    <columns valign="top">
      <p class="thank-you">{{ lookup content.thank-you lang }}</p>
      <hr>
    </columns>
  </row>
  <row>
    <columns class="text-right">
      <p class="text-right">
        <a href="#">
          <img src="./img/twitter-icon.png" class="inline" alt="Twitter">
        </a>
      </p>
    </columns>
    <columns>
      <p class="text-left">
        <a href="#">
          <img src="./img/facebook-icon.png" class="inline" alt="Facebook">
        </a>
      </p>
    </columns>
  </row>
  <row>
    <columns>
      <p class="text-center">
        {{ lookup content.support lang }}
      </p>
    </columns>
  </row>
</container>
