<container class="line">
    <row class="collapse">
        <columns valign="bottom">
            <img src="./img/top.png" alt="" style="display:block;width:100%">
        </columns>
    </row>
</container>
<container class="header">
    <row>
        <columns small="12" valign="middle">
            <spacer size="20"></spacer>
            <a href="https://mackeeper.com/">
              <img class="img float-left" src="./img/logo.png" alt="">
            </a>
            <p class="logo">
              <a href="https://mackeeper.com/">{{ lookup content.logo lang }}<br> <span class="slogan">{{ lookup content.slogan lang }}</a></span>
            </p>
            <spacer size="20"></spacer>
            <p class="border"></p>
        </columns>
    </row>
</container>
