
<container class="header">
  <row>
    <columns small="6" valign="middle">
      <spacer size="20" />
      <a href="#">
        <img class="img float-left" src="./img/logo.png" alt="">
      </a>
      <spacer size="20" />
    </columns>
    <columns small="6" valign="middle">
      <spacer size="30" />
      <p class="text-right">
        <a href="#" class="view-in-browser">
          {{ lookup content.view_in_browser lang }}
        </a>
      </p>
      <spacer size="20" />
    </columns>
  </row>
</container>
