<container class="snippet">
    <row class="collapse">
        <columns>
            <spacer size="20"></spacer>
        </columns>
    </row>
    <row class="collapse">
        <columns small="12">
            <p class="small-text-center">
              <a href="%%=RedirectTo(@myLicensesurl)=%%">{{ lookup content.snippet lang }}</a>
            </p>
            <spacer size="15"></spacer>
        </columns>
        <columns small="12">
            <p class="small-text-center text-right">
                <a href="%%view_email_url%%">{{ lookup content.open_in_browser lang }}</a>
            </p>
            <spacer size="15"></spacer>
        </columns>
    </row>
</container>
