// Footer
// =================================

table {
  &.footer {
    background-color: $light-gray;

    & p {
      font-size: 14px;
      color: $medium-gray;

      & > a {
        color: $medium-gray !important;
      }
      @media only screen and (max-width: #{$global-breakpoint}) {
        font-size: 12px !important;
      }
    }
  }
}
