// Snippet
// =================================

table {
  &.snippet {
    background-color: transparent !important;

    & p {
      font-size: 12px;
      color: $light-gray;

      & > a {
        color: $light-gray !important;
      }
      @media only screen and (max-width: #{$global-breakpoint}) {
        font-size: 11px !important;
      }
    }
  }
}
